.sideBarSection{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    overflow-y: scroll;
    padding: 20px;

    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  
    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari */
    }

    .topSection{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 10px;


        .logoSection{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 8px;
           
        }     
    }

     

    .icon{
        width: 24px;
        height: 24px;

        &.selected{

            path{
                fill:#0CAF60;
                stroke: none;
            }
            
        }
    }

    .iconLaporan{
        width: 24px;
        height: 24px;

        rect{
            fill: #718096;
            stroke: none;
        }

        &.selected{

            rect{
                fill:#0CAF60;
                stroke: none;
            }
            
        }
    }

    .devider{
        background: #F2F4F7;
        height: 1px;
        width: 100%;
        margin: 12px 0;
    }

}
