.deleteButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    color: #dc3545;
    cursor: pointer;
    transition: color 0.2s ease;
  
    &:hover {
      color: #a71d2a;
    }
  
    svg {
      width: 20px;
      height: 20px;
    }
}
  