.searchBarSection{
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 15px;
  box-shadow: 1px 2px 8px -5px rgba(0, 0, 0, 0.2);
  min-width: 230px;
  gap: 10px;

  .icon {
    position: absolute;
    left: 10px;
    color: #7d8490;
    font-size: 16px;
    pointer-events: none;
  }
  
  .searchBar{
    width: 100%;
    border-radius: 10px;
    padding: 10px 0 10px 32px; 
    border: none;
    outline: none;
    font-size: 16px;
    background-color: rgb(243,244,245);
  }
}