@import 'src/mixins.scss';

.sideMenuItemSection{
    display: flex;
    flex-direction: column;
    font-family: 'Open Sauce One', sans-serif;
    gap: 16px;
    width: 100%;
    cursor: pointer;

    .sideMenu{
        display: flex;
        align-items: center;
        gap: 16px;

        &:hover {
            background-color: rgba(0, 0, 0, 0.05);

            .name {
                color: black;
                font-weight: 500;
            }

            .trailing {
                color: black;
            }
        }
    
        .name{
            flex: 1;
            color: $greyColor600;
            margin: 10px 0;
            font-size: 15px;
            font-weight: 300;

            &.selected{
                color: $primaryColor;
                font-weight: 600;
                font-size: 15px;
            }
        }

        .trailing{
            font-size: 10px;
            color: $greyColor600;

            &.selected{
                color: $primaryColor;
            }
        }
    }

    .subMenusSection{
        margin: 0;
        display: flex;
        flex-direction: column;
        list-style: none;
        padding-left: 30px;


        .subMenu{
            display: flex; 
            width: 100%;
            margin-bottom: 12px;
            align-items: 'center';

            &:hover {
                background-color: rgba(0, 0, 0, 0.05);

                .link {
                    color: black;
                    font-size: 15px;
                    font-weight: 400;
                }
            }

            .link{
                text-decoration: none;
                color: $greyColor600;
                font-size: 14px;
                font-weight: 300;
                width: 100%;

                &.selected{
                    color: $primaryColor;
                    font-weight: 500;
                    font-size: 15px;
                }
            }
        }
    }
}