.searchFieldSection{
    display: flex;
    flex-direction: column;
    gap: 16px;

    .label {
        font-weight: 600;
        font-size: 14px;
        color: #1a1a1a;
    }

    .searchInput {
        display: flex;
        align-items: center;
        gap: 16px;

        .input {
            padding: 12px 14px;
            border: none;
            border-radius: 10px;
            background-color: #f0f3f7;
            font-size: 16px;
            color: #111;
            outline: none;
        
        }
    }
}